@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
}
/* Button{
  border-radius: 0 !important;
  background-color: black !important;
} */
Button{
  height: 40px 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
input {
  height: 40px !important;
  border-radius: 0 !important;
  border: 1px solid #bbbbbb !important;
  /*width: 100% !important;
  padding-left: 15px !important; */
}

textarea{
  border-radius: 0 !important;
  border: 1px solid #bbbbbb !important;
}

input:focus textarea:focus{
  box-shadow: none !important;
  border: 1px solid #343434 !important;
}
.ant-form-item{
  margin-bottom:10 !important;
}
.ant-form-item-label{
  padding:0 !important;
}